---
import reactLogo from "../../assets/react.svg"
import vueLogo from "../../assets/vue.svg"
import awsLogo from "../../assets/aws.svg"
import dockerLogo from "../../assets/docker.svg"
import laravelLogo from "../../assets/laravel.svg"
import mongodbLogo from "../../assets/mongodb.svg"
import tsLogo from "../../assets/typescript.svg"
import pytorchLogo from "../../assets/pytorch.svg"
import pythonLogo from "../../assets/python.svg"
import tailLogo from "../../assets/tailwind.svg"
import mlLogo from "../../assets/humanize.svg"
import expressLogo from "../../assets/express.svg" 
import Header from "@/components/Header/Header.astro"
import IconLogo from "../../assets/nino.jpg"
import Foot from "@/components/Footer/Foot.astro"
import { Button } from "@/components/ui/button"
import { Contact, FileStack, IceCreamConeIcon, Info, InspectionPanelIcon, Layers, Mail, PieChart, PiIcon, Play, School } from "lucide-react"
import { getCollection } from "astro:content"
const data=await getCollection("stacks") 

    

---
<video autoplay loop  muted class="absolute inset-0 w-full h-full object-cover -z-10" >
    <source src="/src/assets/fondo3.mp4" type="video/mp4">
</video>
<div class="sticky top-0 z-50 backdrop-blur-xl border-1 border-white/5 bg-white/5 ">
    <Header/>
</div> 
<div class="relative backdrop-blur-xl bg-white/5 " >
  
<div class="flex flex-col justify-between items-center ">
    <section class="pt-20">
       <div class="grid ml-18 grid-cols-2 items-center p-4 gap-5  md:grid-cols-2 lg:grid-cols-2">
        <div class="flex flex-col justify-center">        
            <h1 class="font-black text-4xl">Hola soy Nino dev</h1>
            <h2 class="text-2xl font-black mt-2 ">Ingeniero de software con I.A.</h2>
              
            <div>
                <p class="prose text-white mt-4">
                    Me gusta crear sistemas que brinden satisfaccion a los clientes soy una persona autodidacta y responsable caracterizado
                    por aprender algo nuevo, mejorando mis habilidades dia a dia.</p>
            </div>        
            <div id="contenedor-img" class="flex flex-row justify-between w-120 gap-3 pt-4">
                <img  src={reactLogo.src} class="h-13 w-13" alt="null"> 
                <img  src={vueLogo.src} class="h-13 w-13" alt="null"> 
                <img  src={awsLogo.src} class="h-13 w-13" alt="null"> 
                <img  src={dockerLogo.src} class="h-13 w-13" alt="null"> 
                <img src={expressLogo.src} class="h-13 w-13" alt="">
            </div>
            <div class="mt-4 flex flex-row items-center justify-between bg-white/10 border-white/10 border-2 rounded-md w-75">
                <p class="p-2">condorenajoshua98@gmail.com</p>
                <i class='bxr  bx-copy bg-white/20 p-2 m-1 rounded-md cursor-pointer hover:bg-indigo-200/10'></i> 
            </div>
       </div>
       <div class="flex items-center justify-center ">
        <img src={IconLogo.src} class="h-70 w-70 rounded-full" alt="">
       </div>
       </div>
        

    </section>   
   {/*
    <section >
        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 ">
            <div>
                <h1 class="font-black text-4xl mb-4">Sobre Mi</h1>
                <div class="prose text-[15px] text-white">
                <p>Me gusta crear sistemas que brinden satisfaccion a los clientes soy una persona autodidacta, proactiva, responsable siempre toco el codigo.
                     Soy curioso en saber como funciona algo aprendo de manera proactiva y me gusta mejorar mis habilidades dia a dia para ofrecer un mejor 
                     servicio a mis clientes.            
                Siempre me a gustado aprender cosas nuevas lo hace mas emocionate estar en la pantalla creando cosas que nunca antes haz echo.</p>
                </div>
            </div> 
        </div>          
    </section>
   */}
    <section>
        <div>
            <h1 class="font-black text-3xl">Experiencia </h1>
            <div class="text-xl flex mt-10 gap-5">
                <div class="flex flex-col ">
                    <div class="flex items-center mb-4">
                        <i class='bxr  bx-shopping-bag  text-indigo-500'></i> 
                        <span class="bg-gradient-to-r from-transparent indigo-500 to-indigo-500 h-1 rounded-lg inline-block w-full"></span>
                        
                    </div>
                    <p class="mb-2 text-white font-semibold text-[21px]">Practicante desarrolador fronted</p>
                    <p class="text-[14px] text-gray-500 mb-4">Julio 7, 2023 - Diciembre 10, 2023</p>
                    <p id="experiencia-1" class="prose prose-sm transition-all duration-500 ease-in-out overflow-hidden max-h-20 text-[15px] text-gray-300">
                        Fui desarrolador por 6 meses en una empresa del sector de exportaciones, 
                        donde participé en diversos proyectos pequeños de desarrollo frontend,
                        como la creación de páginas web para restaurantes y la implementación de chatbots.
                        También contribuí en tareas de modelado de bases de datos en UML y aplicación de patrones de arquitectura, 
                        así como en la realización de consultas y conexiones a bases de datos con Laravel.
                        Además, desarrollé componentes y miniproyectos para mejorar mis habilidades en lógica de programación y
                        fortalecer mis conocimientos en desarrollo web.
                    </p>
                    <Button className="bg-white/10 hover:bg-indigo-300/10 mt-2"  id="btn">Ver Mas</Button>
                     
                </div>
                <div class="flex flex-col">
                    <div class="flex items-center mb-4">
                        <i class='bxr  bx-shopping-bag text-indigo-500'></i> 
                        <span class="bg-indigo-500  h-1 rounded-lg inline-block w-full"></span>
                        
                    </div>
                    <p class="text-[21px] text-white font-semibold mb-2" >Desarrolador fullStack</p>
                    <p class="text-[14px] text-gray-500 mb-4">Marzo 7, 2024 - Enero 10, 2025</p>
                    <p class="prose prose-xl text-[15px]  text-gray-300 leading-relaxed">Fui desarrolador por 6 meses en PC-PLANET una empresa tecnologica donde me encargaban proyecto de desarrollo fronted por el momento
                        luego al finalizar decidi  crear un proyecto que pueda agalizar las tareas ya que no tenian un sistema de ventas asi que lo termine creando
                        e implementando un modelo de prediccion para el area de ventas. 
                    </p>
                    <div>
                    <p></p>
                    </div> 
                </div>
                                
            </div>
        </div>     
    </section>
    <section>       
         <div>
            <div class="flex flex-row justify-between items-center">
                <h1 class="font-black text-3xl mb-8">Proyectos</h1>
                <h1 class="font-black text-md mb-8 underline cursor-pointer">Mostrar mas</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
                <!-- Tarjeta 1 -->
                <div class="border border-white/10 overflow-hidden rounded-2xl   shadow-[0_0_25px_rgba(79,70,229,0.15)] hover:shadow-[0_0_40px_rgba(129,140,248,0.3)] transition">
                    <img src="https://i.pinimg.com/1200x/96/a2/93/96a2934db4fd5f2de2b77e03ce66dff5.jpg" 
                        class="w-130 h-75 object-cover hover:scale-105 rounded-t-2xl rounded-b-none transition-all duration-300" />
                    <div class="pl-4 pb-4">
                        <p class="mt-4 text-[21px] font-semibold">Proyecto Clone Spotify</p>
                        <p class="text-[16px] text-gray-400">#3</p>
                        <p class="mt-3 text-[16px]">React | TypeScript | MongoDB | AWS</p>
                        <div class="flex gap-4 mt-4">
                            <Button className="bg-white/10 text-sm px-8 py-2 hover:bg-indigo-300/10">Código</Button>
                            <Button className="bg-white/10 text-sm px-8 py-2 hover:bg-indigo-300/10">Ver</Button>
                        </div>
                    </div>
                </div>
                
              
                <div class="border border-white/10 overflow-hidden rounded-2xl  shadow-[0_0_25px_rgba(79,70,229,0.15)] hover:shadow-[0_0_40px_rgba(129,140,248,0.3)] transition">
                    <img src="https://i.pinimg.com/1200x/5f/6f/d4/5f6fd46562acfa141249b2d92cb14f62.jpg" 
                        class="w-130 h-75 object-cover hover:scale-105 rounded-t-2xl rounded-b-none transition-all duration-300" />
                    <div class="pl-4 pb-4">
                        <p class="mt-4 text-[21px] font-semibold">Proyecto Log</p>
                        <p class="text-[16px] text-gray-400">#2</p>
                        <p class="mt-3 text-[16px]">React | TypeScript | MongoDB | AWS</p>
                        <div class="flex gap-4 mt-4">
                            <Button className="bg-white/10 text-sm px-8 py-2 hover:bg-indigo-300/10">Código</Button>
                            <Button className="bg-white/10 text-sm px-8 py-2 hover:bg-indigo-300/10">Ver</Button>
                        </div>
                    </div>
                </div>
               
                
                
            </div>         
        </div>      
    </section>
    <section >
       
         <div class="flex flex-row justify-between mb-4 w-270">          
                {/*
                <h1 class="font-black text-4xl">Informacion Extra</h1>            
                <h1 class="font-black text-4xl">Contacto </h1>           
                <h1 class="font-black text-4xl">Stack </h1>       
                */}    
        </div>
        <div class="flex flex-row justify-between mb-10">
            
            <div class="border  border-white/10 overflow-hidden rounded-2xl  shadow-[0_0_25px_rgba(79,70,229,0.15)] hover:shadow-[0_0_40px_rgba(129,140,248,0.3)] transition">
                <div class="flex flex-row p-2 w-40 border-white/20 rounded-4xl border-1 m-4">
                    <Info className=""></Info>
                    <p class="ml-2">Informacion</p>
                </div>
                <div class="flex m-4 flex-row items-center">
                    <div class="m-2 border-2 p-4 border-white/10 rounded-full">
                        <Mail></Mail>                 
                    </div>
                    <div class="">
                        <p>correo electronico</p>
                        <p>condorenajoshua98@gmail.com</p>
                    </div>
                </div>
                 <div class="flex m-4 flex-row items-center">
                    <div class="m-2 border-2 p-4 border-white/10 rounded-full">
                        <School></School>                    
                    </div>
                    <div class="">
                        <p>Estudios</p>
                        <p>Estudio en SENATI</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col">
            <div class="border h-45 p-0 border-white/10 overflow-hidden rounded-2xl  shadow-[0_0_25px_rgba(79,70,229,0.15)] hover:shadow-[0_0_40px_rgba(129,140,248,0.3)] transition">
            <div class="flex flex-row p-2 w-30 border-white/20 rounded-4xl border-1 m-4">
                <Contact></Contact> 
                <p class="ml-2">Contacto</p>
            </div>
            <div class="m-4">
                <p class="w-80">Hablemos sobre tu proximo proyecto.</p>
                <Button className="mt-4 bg-white/10 hover:bg-indigo-300/10 ">Enviar un Mensaje</Button>
            </div>
            
            </div>
            <div class="flex mt-6 border h-26 p-0 border-white/10 overflow-hidden rounded-2xl  shadow-[0_0_25px_rgba(79,70,229,0.15)] hover:shadow-[0_0_40px_rgba(129,140,248,0.3)] transition">
            <div class="flex flex-row justify-between items-center p-2 w-full  m-4">
                <div class="flex flex-row ml-2 justify-between items-center">
                    <img src={IconLogo.src} class="rounded-full border-white/20 border-2 h-13 w-13" alt="">
                    <p class="ml-2 truncate w-40">Howl's Moving Castle - Merry go round of Life cover by Grissini Project</p>
                </div>
                <div class="bg-white/10 border-2  border-white/10 p-2 cursor-pointer rounded-full">
                    <Play></Play>
                </div>
            </div>
            
            
            </div>
        </div>

            <div class="border p-0 border-white/10  overflow-hidden rounded-2xl  shadow-[0_0_25px_rgba(79,70,229,0.15)] hover:shadow-[0_0_40px_rgba(129,140,248,0.3)] transition">
                <div class="flex flex-row p-2 w-30 border-white/20 rounded-4xl border-1 m-4">
                    <Layers></Layers>
                    <p class="pl-2">Stack</p>
                </div>
                <div class="flex flex-row gap-1 m-1"> 
                   <div class="flex flex-row justify-center flex-wrap w-76">
                     {data.map((s)=>{
                        const {logo,nombre}=s.data
                        return(                           
                            <div class="border-2 hover:bg-indigo-500/10 overflow-hidden border-white/10 m-1 rounded-2xl p-2 shadow-[0_0_25px_rgba(79,70,229,0.15)] hover:shadow-[0_0_40px_rgba(129,140,248,0.3)] transition">
                                <img src={logo} alt={nombre} class="hover:scale-105 transition-all duration-100 w-12 h-12"/>
                            </div>                            
                        )})}    
                    </div>                   
                </div>               
            </div>
        
        </div>
       
        
    </section>
    {/*
    <section>
        <div>
            <h1 class="font-black text-4xl">Formacion</h1>
        </div>
    </section>
    <section>
        <div>
            <h1 class="font-black text-4xl">Contacto </h1>
        </div>
    </section> 
    */}        
</div>
<Foot></Foot>
</div>

<script is:inline>
    const elemento=document.getElementById("experiencia-1")
    const btn=document.getElementById("btn")
    let abierto = false;

    btn.addEventListener("click", () => {
    abierto = !abierto;
    elemento.classList.toggle("max-h-20", !abierto); // cerrado
    elemento.classList.toggle("max-h-50", abierto); // abierto (lo suficientemente grande)
    btn.textContent = abierto ? "Ver menos" : "Ver mas";
    });
</script>
<style>
    section{
        margin-top: 20px;
    }
    #contenedor-img{
        img{
            margin: 10;
        }
    }
    .logo:{
        width: 5px;
        height:5px;
    }
</style>